/* ==========================================================================
   Header
   ========================================================================== */

// Search bar
.site-search--full{
	float: right;
}

.site-logo{

	margin: 0 auto;
}

