/* ==========================================================================
   Layout
   ========================================================================== */

#page {
	max-width: $pageWidth;
	margin: 20px auto;
}

.content-area {
	float: left;
	width: 100%;
}
.entry-content{
	width:100%
}
.site-main {
	margin: 0 25% 0 0;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: 25%;
}

.site-footer {
	clear: both;
	width: 100%;
}

i.fa.fa-plus-circle{
	display:none!important;
}