/* ==========================================================================
   Home Page Template
   ========================================================================== */

body.home {

	// Headlines News module
	.headlinesnews-slider{
	background-image: url('http://placehold.it/350x150');
	background-size: contain;
	background-repeat: no-repeat;
	width: 75%;
	padding-top: 20%; 
	}
	.latestnews-container ul{
		list-style-type: none;
		// .latestnews-container__img, .latestnews-container__textwrapper{
		// 	float: left;
		// }
		
	}

}

