/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
@include fontface('Roboto Condensed', 'https://fonts.googleapis.com/css?family=Roboto+Condensed', 'FONT_FAMILY');
$font-family: 'Roboto Condensed', sans-serif;
$font-size-large: 30px;
$font-size-medium: 20px;
$font-size-small: 16px;
$font-size-xsmall: 12px;

$bold: bold;
// Structure
$pageWidth: 1000px;

// Text Selection
$selectionColor: orange;

// Colors
$white: #ffffff;
$black: #000000;
$body-color: #495756;
$darkblue:#083f75;
$blue:#3387c3;
$lightblue: #0175bf;
$hover-color:#1adcff;
$green:#6db300;

