/* ==========================================================================
   Footer
   ========================================================================== */

#footer-area{
	background: $background-color; 
	.container{
		width: 100%;
	}
	
	p{
		font-size: $font-size_xsmall;

	}
	#footer-widget{

		background-color: transparent; 
		.textwidget{
			a{
				color: $darkblue;	
				&:hover{
					color: $hover-color;
				}
			}
		}
	}
}

#bottom{
		background: $background-color; 
	
}