/* ==========================================================================
   Border-box all the things!
   ========================================================================== */

*,
:before,
:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* ==========================================================================
   General
   ========================================================================== */

body { 
font-family: $font-family-body;
background-color: transparent; 
}
i.fa.fa-plus-circle{
	display:none!important;
}


/* ==========================================================================
   Links
   ========================================================================== */

a,
a:visited {
	color: $darkblue;
}
a:hover {
	color: $lightblue!important;
}

.flexslider a:hover{
	color:$linegsgrey!important;
},
.entry-content a {
	color: $darkblue;
}

/* ==========================================================================
   Images
   ========================================================================== */

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}


/* ==========================================================================
   Typography
   ========================================================================== */

h1 {
	font-family: $font-family_book;
	font-size: $font-size-large;
	// @include rem-fallback(font-size, $font-size-large);
 }
h2 {
	font-family: $font-family-book;
	font-weight: 100;
}
h3 { 
	font-family: $font-family-book;

}
h4 { 
	font-family: $font-family-body;

}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
 	font-size: $font-size-small;
	color: $body-color;
	margin-bottom: 1.5em;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}
.breadcrumb{
	margin-bottom: 20px;
	// font-family: $font-family-book;
	font-size: $font-size-xsmall;
}
.breadcrumb, .block-excerpt{
	font-size: $font-size-small;

}
.nav-previous , .nav-next {
	a{
		font-size: $font-size-small;

	}
}

h2.block-title {
	font-family: $font-family-book;
	font-weight: 100;
 	font-size: $font-size-small;
	
}

// block-heading glog posts and single posts
.block-heading > a,
.posts .entry-title a {
	color: $darkblue;
}

.single h1.entry-title{
	color: $darkblue;
}

/*
hover state Read more button 
to overwrite parent style
*/
a.readmore:hover{
	background-color:$white!important;
	border-color:$white!important;
}
/* ==========================================================================
   Alignment
   ========================================================================== */

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}


/* ==========================================================================
   Accessiblity
   ========================================================================== */

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* ==========================================================================
   Clearings
   ========================================================================== */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}


/* ==========================================================================
   Infinite Scroll
   ========================================================================== */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/* ==========================================================================
   Categories color for English verison
   ========================================================================== */


// Editorial
@include cat-colors(cat-24, $editorial-color);

 // Human resources
 @include cat-colors(cat-23, $rh-color);


// Project
@include cat-colors(cat-13, $projet-color);


// Uncategorized
@include cat-colors(cat-11, $uncategorized-color);


//comptes rendus
@include cat-colors(cat-15, $comptes-rendus-color);

//Produit
@include cat-colors(cat-46, $produit-color);

//Production
@include cat-colors(cat-48, $production-color);


/* ==========================================================================
   Removed catgory feed from archives pages
   ========================================================================== */
.archive .category-feed{
	display:none;
}