/* ==========================================================================
   Header
   ========================================================================== */

#top{

    float:left;
    @include rem-fallback(margin, 0px 20px);

}

//logo euronews

.header-first-row{
    background-color: $background-color;
    z-index: 11;
    position: relative;
    
    
//top bar - general

    .topbar{
        padding: 0;

    }

    .topbar__container {
        
        margin: 0 auto;
        @include rem-fallback(padding, 10px 0px 10px 0px);
        
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        align-content: space-between;
        align-items: baseline;

        .topbar__item {
          flex: 0 1 auto;
          
        }    
    }

    
}

.header-desktop{
    @include bp(tablet){
        display: none;  
    }
    
}

.header-mobile{
    display: none;


    @include bp(tablet){

        display: block;
        padding: 0px 20px;
        .topbar__container{
          display: flex;
          justify-content: space-between;
          flex-flow: row wrap;
          align-content: space-between;
          align-items: center;
        }
        
        .topbar__item {
          flex: 0 1 auto;
          
        }  
        
        .logo-tablet{
          display: block;
          img{
            max-width: 80%;
          }
        }
    }
     
    @include bp(smalltablet){
      .topbar__container{
        flex-flow: column wrap;
      }
     
      .logo-mobile__img img{
        max-width: 80%;
      }
      .topbar__search-form {
        margin-top: 20px;
      }
    } 

    .topbar__search-form{
        padding-bottom: 20px;
        
    }
    .topbar__languages-box{
       
        #lang_sel{
            
            margin-top: 10px;
            float: right;  
            margin-right: 10px;
            @include bp(phone){
              float: left;
            }
           
        }
    }
    
}



#lang_sel {
    
    li { 
     // width: 224px;
    }
     a, a.lang_sel_sel{
        background:none;
        background:url();
    
    }
}


#lang_sel a.lang_sel_sel, #lang_sel a.lang_sel_sel:visited, #lang_sel li ul a, #lang_sel li ul a:link, #lang_sel li ul a:visited {
    background: $background-color!important;
    font-size:$font-size-xsmall;
    font-family:$font-family-body;
}

.lang_sel_sel{
    &:hover:after{
            right: 5px;
            transition: right 500ms;
        }
    &:after {
        content: "\f107";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: $darkblue;
        font-size: 18px;
        padding-right: 0.5em;
        position: absolute;
        top: 1px;
        right: 0;
        transition: right 500ms;

    }
}

    

// Search bar
.topbar__search-form{
    .search-form__input{
        background-color:$background-color;
        border:none;    
       
        

    }
    .search-form input.search-form__input::-webkit-input-placeholder{
    color:$darkblue;
    
    }
    .search-form__container{
            border-bottom: solid $darkblue 1px;
             display: inline-block;
             float: right;
             // width: 70%;
        .search-form__button{
            background-color:transparent;
            border:none;
            .fa-search{
                color: $darkblue;
                font-size: $font-size-small;
            }

        }
    }
}

input[type="text"], input[type="password"], input[type="email"], textarea, select{
    font-size:$font-size-xsmall;
    font-family:$font-family-body;
}
//h2 hover state
header{
    .topbar__text{
        h2{
            color: $white;
            font-family: $font-family-body;
            font-size: $font-size-medium;
        }
    }

    .block-title span i:before{
            right: 14px;
            position: absolute;
            padding-top: 12px;
            top: 0;
    }
    .block-title span:hover i:before {
        // background-color:red;
        right: 10px;
        transition: right 500ms;
    }
}

/*
    breaking news!!
*/




.slide-effect{
    display: block;
    z-index: 0;
    @include slide-effect;
    background:  $blue;
    position: relative;

}
.breaking-news {
    
    display: inline-block;
    // padding: 0 20px 20px 20px;
   
    h1{
        color: $white;
        font-style: italic; 
        @include fontSize(16px);
        text-transform: uppercase;
        
    }
}


/*
Breaking news toggle button
hidden on all pages except home
*/

input[type=checkbox] ,   input[type=checkbox]~label{
  display: none;
}

/*
Breaking news toggle button
showingon Homepage only
*/
.home{

  input[type=checkbox] {
    display: block;
    position: absolute;
    top: -9999px;
    left: -9999px;

  }

  .toggle-button{
    display: block;
    position: absolute; 
    right: 0;
    z-index: 10;
    color: white;
    font-family:$font-family;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.1);
    @include slide-effect;
    text-align: center;
    padding-top:10px;
    font-size: $font-size-small;

    &:hover{
      cursor: pointer;
    }
  }

  /* Toggled State */
  input[type=checkbox]:checked ~ div.slide-effect {
     display: none;
    
  }

  input[type=checkbox]:checked + label {
    display: none;
  }

}
