/* ==========================================================================
   Layout
   ========================================================================== */

#page {
	max-width: $pageWidth;
	margin: 20px auto;
}
#wrapper{
	@include rem-fallback(padding-top, 0px);
	width: 100%;
}

main{
	margin-top: 50px;
}

.content-area {
	float: left;
	width: 100%;
}
.entry-content{
	width:100%
}
.site-main {
	margin: 0 25% 0 0;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: 25%;
}

.site-footer {
	clear: both;
	width: 100%;
}
