/* ==========================================================================
   Mixins
   ========================================================================== */

/*
 * Mixin for easy media queries
 * @include bp(tablet) { SCSS here };
*/
@mixin bp($point) {
	@if $point == biggie {
		@media (max-width : 1600px) { @content; }
	}
	@if $point == tablet {
		@media (max-width : 1024px) { @content; }
	}
	@else if $point == smalltablet {
		@media (max-width : 425px) { @content; }
	}
	@else if $point == phone {
		@media (max-width : 768px) { @content; }
	}
}

/*
 * Mixin for clearfix
 * @include clearfix;
*/
@mixin clearfix {
	&:before,
	&:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	&:after {
	    clear: both;
	}
}

/*
 * Mixin for basic CSS triangles
 * @include triangle(up, #000, 50px)
*/
@mixin triangle($direction:up, $color:#000, $size:100px) {
	@if($direction == up) {
		border-color: transparent transparent $color;
		border-style: solid;
		border-width: 0 $size $size;
		height: 0;
		width: 0;
	}
	@if($direction == down) {
		border-color: $color transparent transparent transparent;
		border-style: solid;
		border-width: $size;
		height:0;
		width:0;
	}
	@if($direction == left) {
		border-color: transparent $color transparent transparent;
		border-style: solid;
		border-width: $size $size $size 0;
		height: 0;
		width: 0;
	}
	@if($direction == right) {
		border-color: transparent transparent transparent $color;
		border-style: solid;
		border-width: $size 0 $size $size;
		height:0;
		width:0;
	}
}

/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */

@mixin fontface($font-family, $font-url, $font-name) {
	@font-face {
		font: {
			family: $font-family;
			style: normal;
			weight: normal;
		}
		// src: url($font-url + '/' + $font-name + '.eot');
		// src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
			 // url($font-url + '/' + $font-name + '.woff') format('woff'),
		src: url($font-url + '/' + $font-name + '.ttf')  format('truetype');
			 // url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
	}
}




// REM Mixin with px fallback

//  EXAMPLE
//      body {
//        @include rem-fallback(font-size, 16px);
//        @include rem-fallback(padding, 20px 10px);
//      }

//      CSS output
//      body {
//        font-size: 16px;  /* Fallback for IE8 */
//        font-size: 1.6rem;
//        padding: 20px 10px; /* Fallback for IE8 */
//        padding: 2rem 1rem;
//      }

@mixin rem-fallback($property, $values) {
  $px : ();
  $rem: ();

  @each $value in $values {

    @if $value == 0 or $value == auto {
      $px : append($px , $value);
      $rem: append($rem, $value);
    }

    @else {
      $unit: unit($value);
      $val: parseInt($value);

      @if $unit == "px" {
        $px : append($px,  $value);
        $rem: append($rem, ($val / 10 + rem));
      }

      @if $unit == "rem" {
        $px : append($px,  ($val * 10 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {
    #{$property}: $px;
  } @else {
    #{$property}: $px;
    #{$property}: $rem;
  }
}

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}


@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin slide-effect {
	-moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 1s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration:1s;

	@-moz-keyframes dropHeader {
	    0% {
	        -moz-transform: translateY(-120px);
	    }
	    100% {
	        -moz-transform: translateY(0);
	    }
	}
	@-webkit-keyframes dropHeader {
	    0% {
	        -webkit-transform: translateY(-120px);
	    }
	    100% {
	        -webkit-transform: translateY(0);
	    }
	}
	@keyframes dropHeader {
	    0% {
	        transform: translateY(-120px);
	    }
	    100% {
	        transform: translateY(0);
	    }
	}
}



/* ==========================================================================
   Categories color for English verison
   ========================================================================== */

@mixin cat-colors($cat-id, $cat-color){

	.#{$cat-id} .entry-image .entry-category a { background-color: $cat-color; };
	.#{$cat-id} .entry-main .entry-category a { color: $cat-color; };
	#wrapper .#{$cat-id} a:hover { color: $cat-color; };
	.#{$cat-id} a.readmore:hover { color: #fff; border-color: $cat-color; background: $cat-color; };
	.#{$cat-id} .block-title a { background: $cat-color; };
	.featured .#{$cat-id} .entry-category a { background: $cat-color; };
	.#{$cat-id} .block-top:hover, .block-1.#{$cat-id} .block-side:hover, .posts .#{$cat-id} .entry-image:hover { border-color: $cat-color; };
	.#{$cat-id} .block-category a { color: $cat-color; };

}