/* ==========================================================================
   Home Page Template
   ========================================================================== */

body.home {

	// Headlines News module
	.headlinesnews-slider{
	background-image: url('http://placehold.it/350x150');
	background-size: contain;
	background-repeat: no-repeat;
	width: 75%;
	padding-top: 20%; 
	}
	.latestnews-container ul{
		list-style-type: none;

	}
// Flexislider style

	.flexslider{
		h2{
			font-size: $font-size-slider;
			font-weight: 600;
			margin: 10px 0 10px;
			@include bp(phone){
				font-size: $font-size-medium;
			}	
		}
		h2 a, &:visited{
			color:$white;
		}
		
	}


}

