/* ==========================================================================
   Blog pages
   ========================================================================== */
.single{
	h1.entry-title{
		font-size: $font-size-large;
	}
	.entry-content p{
		font-size: $font-size-small;
	}
/* ==========================================================================
   Back to Actualités/ news button
   ========================================================================== */
   .arrow-back{
		background-image: url("../../assets/images/back-left-arrow-of-returning-angle.png");
		background-repeat: no-repeat;
		display: inline-block;
		content: " ";
		width: 24px;
		height: 16px;
	    margin-bottom: -4px;
	}
   .button {
   	
	   	cursor: pointer;
		display: inline-block;
		padding: 5px 12px 8px 0;
		font-family: arial;
		font-size: 12px;
		color: $darkblue;
		border: none;
			
	
	}

	
}
