#sidebar{
	font-size: $font-size-small;
	a,
	a:visited {
		color: $darkblue;
	}
	.team-container{
	// Background: $green;
	.team-container__address{
		list-style-type: none;
		}
	}
	.block-title span{
		background-color: $blue;
		border:none;
		
	}
	.widgettitle--link .block-title span i:before{
	    right: 14px;
	    position: absolute;
	    padding-top: 12px;
	    top: 0;
	}
	.widgettitle--link .block-title span:hover i:before {
		// background-color:red;
		right: 10px;
	 	transition: right 500ms;
	}

	 li{
		@include rem-fallback(margin, 0 0 15px 0);		
	}
	.widget_title_link_widget{
		@include rem-fallback(margin, 0);
	}
	#text-4{
		@include rem-fallback(margin, 0 0 4px 0);	
	}
	.textwidget{
		li{
			@include rem-fallback(margin, 0);
		}
	}
}

//meta slider widget
.widget-slider{
	.slider-wrapper{
		padding-left: 0!important;
	}
	.nivo-caption{
		font-family: $font-family-body;
		font-size: $font-size-small;
		Background:none;
		color: $body-color;
		background-color:none;
		opacity: 1.0;
		word-wrap:break-word;
		width: 250px;
	}
	.theme-light .nivoSlider{
		height: 270px;
	}

}