/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face

@include fontface('Gotham light', '../fonts', 'ufonts.com_gotham-light');
@include fontface('Gotham bold', '../fonts', 'ufonts.com_gotham-bold');
@include fontface('Gotham book', '../fonts', 'GothamHTF-Book');

$font-family: 'Gotham light',sans-serif;
$font-family-bold: 'Gotham bold',sans-serif;
$font-family-book: 'Gotham book',sans-serif;

$font-family-body: arial,sans-serif;
$font-size-large: 	2.1875rem; //35px
$font-size-medium: 1.125rem; //18px
$font-size-small: 1rem; //16px
$font-size-xsmall: 0.875rem; //14px
$font-size-slider: 1.75rem; //28px

$bold: bold;
$light:100;
// Structure
$pageWidth: 1000px;

// Text Selection
$selectionColor: #88c3ff;

// Colors
$white: #ffffff;
$black: #000000;
$body-color: #495756;
$darkblue:#083f75;
$blue:#3387c3;
$lightblue: #0175bf;
$hover-color:#1adcff;
$green:#6db300;
$background-color:#f2f2f2;
$linegsgrey:#eee;

//Categories colors
$editorial-color:#f2a900;
$comptes-rendus-color:#003865;
$uncategorized-color: $darkblue;
$projet-color: #5e8ab4;
$rh-color:#005587;
$production-color:#582c83;
$produit-color:#4ec3e0;