/* ==========================================================================
   Widgets
   ========================================================================== */

.widget {
	// margin: 0 0 1.5em;
	@include rem-fallback(margin, 0 0 2px 0);
	// div.tagcloud{
	// 	@include rem-fallback(margin, 0 0 15px 0);

	// }
	

}

// #tribe-events-list-widget-3, #g7_video-2{
// 		@include rem-fallback(margin, 0 0 15px 0);
	
//  }

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;

}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

h2.widgettitle{
	font-weight: 100;
}
.widgettitle{
	border-bottom: none;
	margin-bottom:23px;
		
}

.widget_ip_widget .widgettitle--linkimage img{
		width: 100%;
		height: 200px;
		margin-bottom: 10px!important;
		@include bp(tablet){
			
			height: auto;
			@include rem-fallback(margin, 0 33%);

			// margin: 0 30% 0 30%;
		}
}	

.ip-description{
	@include rem-fallback(margin, 10px);

}
#sidebar ul li{
	// border-bottom:1px solid $linegsgrey;

}

.tagcloud a{
	color:$darkblue;
	&:hover{
	color:$hover-color;	
	}
}
.widget_categories{
	text-align:left;
	h2{
		display: inline-block;
		color: $white;
		background-color: $lightblue;
	@include rem-fallback(padding, 5px);
	@include rem-fallback(margin-right, 25px);
	
	}
	select{
		// to remove arrow if needed
	// -webkit-appearance: none;
	// -moz-appearance: none;
	// appearance: none;
	// padding: 2px 30px 2px 2px;
	border: none;
		color: $darkblue;
		font-size: $font-size-small;
		border:none;
	}
	
}
#post-6{
	margin-bottom:0;
}
// Events list widget
.tribe-list-widget{
	padding-left:0;
	
	.tribe-event-title{
		margin-bottom: 0;
	}
}
.tribe-events-list-widget ol li{
		margin-bottom: 15px;
}

// Menu widget
#nav_menu-2{
	.menu-menu-header-container, .menu-menu-1-container {
			.menu-item {
				margin-bottom: 0;
				font-size: $font-size-small;
				font-family: $font-family-book;
				font-weight: 600;
			}
			.sub-menu li a{
				font-size: $font-size-small;
				font-family: $font-family-book;
				font-weight: 100;
			}
	}


}
