/*General*/
body{
	color: #495756;
}
/*main calendar*/
.tribe-bar-submit{
	margin-left: 0;
	width: 32%;
}


.tribe-events-calendar thead th, #tribe-events .tribe-events-button, 
#tribe-events .tribe-events-button:hover, 
#tribe_events_filters_wrapper input[type=submit], .tribe-events-button, 
.tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, 
.tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], 
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a{
	background-color: #083f75;
}

.tribe-events-calendar div[id*=tribe-events-daynum-], 
.tribe-events-calendar div[id*=tribe-events-daynum-] a{
	background-color: #3387c3;
}

.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-]>a{
	background-color: #0175bf;
}

#tribe-events-content .tribe-events-tooltip h4, #tribe_events_filters_wrapper .tribe_events_slider_val, .single-tribe_events a.tribe-events-gcal, .single-tribe_events a.tribe-events-ical{
	color: #083f75;
}


/*Single event*/

.single-tribe_events .tribe-events-event-meta{
	background-color: #f9f6f0; 
}